<%- include('../partials/header.ejs') %>
  <h1>All Courses</h1>
  <ul>
    <% courses.forEach(course => { %>
      <li>
        <strong>Title:</strong> <%= course.title %><br>
        <strong>Categories:</strong> <%= course.categories.join(', ') %><br>
        <strong>Period (weeks):</strong> <%= course.periodInWeeks %><br>
        <strong>Lesson/s:</strong> <%= course.lessons.length %> lesson/s<br>
        <ul>
          <% course.lessons.forEach(lesson => { %>
            <li>
              <p><%= lesson.title %></p>
            </li>
          <% }) %>
        </ul> 
      </li>
      <hr>
    <% }) %>
  </ul>
  <a href="/">Back to Home Page</a>
<%- include('../partials/footer.ejs') %>