<%- include('../partials/header.ejs') %>
<!-- updated this -->
<!DOCTYPE html>
<html>
<head>
  <title><%= lesson.title %></title>
</head>
<body>
  <h1><%= lesson.title %></h1>
  <div>
    <%= lesson.content %>
  </div>
  <a href="/users/dashboard">Back to Courses</a>
</body>
</html>
<%- include('../partials/footer.ejs') %>