<%- include('../partials/header.ejs') %>
  <h1><%= lesson.title %></h1>
  <div>
    <%= lesson.content %>
  </div>
  <form action="/lessons/<%= lesson._id %>/complete" method="POST" style="margin: 24px 0;">
  <button type="submit" class="complete-btn">Mark as Complete</button>
</form>
  <a href="/users/dashboard">Back to Courses</a>
  
<%- include('../partials/footer.ejs') %>