
  <div>
    <div>
      <h3>All Courses</h3>
      <form action="enroll"  method="post">
        <select name="courses" multiple>
          <% user.courses.forEach((item, idx) => { %>
            <option value="<%= item._id %>"><%= item.title %></option>
          <%  }) %>
        </select>   
    <button type="submit">Add</button>
   </form>
    </div>
    <div>
      <h3>Enrolled Courses</h3>
      <ul>
        <% user.coursesEnrolled.forEach((course) => { %>
          <li> <%= course %> </li>
        <% })%>
      </ul>
    </div>

    <div>
      <h3>Completed Courses</h3>
      <ul>
        <% user.coursesFinished.forEach((course) => { %>
          <li> <%= course %> </li>
        <% })%>
      </ul>
    </div>
  </div>

<%- include('../partials/header.ejs') %>
  
<%- include('../partials/footer.ejs') %>