<%- include('../partials/header.ejs') %>
<style> h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 25px;
    border-bottom: 2px solid #a3b18a;
    padding-bottom: 10px;
  }
  </style>
  <div>
    <div>
      <h1 class="page-title">Course Enrollment Dashboard</h1>
    <div class="auth-actions"> |
    <a href="/auth/<%= user._id %>/update-password">Update password</a> |
    </div>
          
      <form action="enroll" method="post">
      <% course.courses.forEach((item, idx) => { %>
        <div class="course-item">
          <label for="course<%= idx %>"><%= item.title %></label>
          <input type="checkbox" id="course<%= idx %>" name="courses" value="<%= item.title %>">
        </div>
      <% }) %>
      <button type="submit">Add</button>
    </form>

    </div>
    <div>
      <h3>Enrolled Courses</h3>
      <ul>
        <% user.coursesEnrolled.forEach((course) => { %>
          <li>
            <a href="/courses/<%= course %>"> <%= course %> </a>
          </li>
        <% })%>
      </ul>
    </div>

    <div>
      <h3>Completed Courses</h3>
      <ul>
        <% user.coursesCompleted.forEach((course) => { %>
          <li>
            <a href="/courses/<%= course %>"> <%= course %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<%- include('../partials/footer.ejs') %>